<h1>New Customer</h1>
<p>membershipType {{ membershipType | json }}</p>
<p>typeOfMembership {{ subscription.MembershipType | json }}</p>
<p>isSubscribed {{ subscription.isSubscribedToNewsLetter | json }}</p>
<p>customerName {{ subscription.Name | json }}</p>

<form #f="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Customer</label>
    <input type="text" class="form-control" id="customerName" placeholder="Name" name="customerName" [(ngModel)]="subscription.Name" required #cname="ngModel">
    <div class="alert alert-danger" *ngIf="cname.touched && !cname.valid">Please enter the name</div>
  </div>
  <div class="form-group">
    <label for="membershiptype">Membershiptype</label>
      <select  class="form-control" id="membershiptype" placeholder="Membershiptype" (change)="onMembershipTypeSelect()" [(ngModel)]="subscription.MembershipType" name="typeOfMembership" required #membertype="ngModel">
          <option value=""></option>
          <option *ngFor="let m of membershipType" value="{{m.id}}">{{m.name}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="membertype.touched && !membertype.valid">Please specify the membership type</div>
  </div>
  <div class="checkbox">
    <label for="subscribed">
      <input type="checkbox" id="subscribed" [value]="false" name="isSubscribed" [(ngModel)]="subscription.isSubscribedToNewsLetter"> Subscribe to Newsletter?
    </label>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!f.valid">Save</button>
  <button *ngIf="subscription.id" class="btn btn-danger" type="button" (click)="deleteCustomer()">Delete</button>
</form>