<h1>New Customer</h1>
<p>{{ membershipType | json }}</p>
<p>{{ typeOfMembership | json }}</p>

<form>
  <div class="form-group">
    <label for="name">Customer</label>
    <input type="text" class="form-control" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="membershiptype">Membershiptype</label>
    <select  class="form-control" id="membershiptype" placeholder="Membershiptype" (change)="onMembershipTypeSelect()" [(ngModel)]="typeOfMembership.id" name="membershipType">
      <option value=""></option>
      <option *ngFor="let m of membershipType" value="{{m.id}}">{{m.name}}</option>
    </select>
  </div>
  <div class="checkbox">
    <label for="subscribed">
      <input type="checkbox" id="subscribed" value="false" name="isSubscribed"> Subscribe to Newsletter?
    </label>
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>