<h1>Log In.</h1>
<div>
  <h2>Use local account to login.</h2>
</div>
<br>
<form>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me?
    </label>
  </div>
  <button type="submit" class="btn btn-default">Log In</button>
  <a href="#">Register as a new user</a>
</form>