<h1>New Rental Form</h1>
<p>{{ isSubscribed | json }}</p>
<p>{{ customerName | json }}</p>
<p>{{ customerMovie | json }}</p>
<form (ngSubmit)="submit()">
  <div class="form-group">
    <label for="customer">Customer</label>
    <input type="text" class="form-control" id="name" placeholder="Customer" name="customerName" [(ngModel)]="customerName">
  </div>
  <div class="form-group">
    <label for="movie">Movie</label>
    <input type="text" class="form-control" id="movie" placeholder="Movie" name="customerMovie" [(ngModel)]="customerMovie">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="isSubscribed" [(ngModel)]="isSubscribed"> Subscribe to newsletter
    </label>
  </div>
  <div class="well">
    <p>Movie1</p>
    <p>Movie2</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>